.footer {
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
  color: #ccc;
  border-top: 1px solid #ccc;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer p {
  margin: 15px;
}
