.x {
  min-height: 80vh;
}

.header {
  text-align: center;
  font-weight: 300;
  font-size: 50px;
}

.back {
  color: #2065FFFF;
  cursor: pointer;
}

.nav {
  height: 25px;
}

.perspective {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: #ccc;
}

.status {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #ccc;
  border-top: 1px solid #ccc;
  background-color: #fff;
  font-size: 12px;
  transition: 1s;
  transition-delay: 0.1s;
}

.newRoot {
  position: absolute;
  bottom: 60px;
  right: 0;
  height: 40px;
  width: 40px;
  border: 1px solid #2065FFFF;
  border-radius: 50%;
  color: #2065FFFF;
}

.input {
  composes: standard from '../../components/Input/styles.css'
}
