.list {
  font-family: 'Helvetica Neue', serif;
  padding-left: 1.75em;
}

.li {
  list-style: none;
  margin: 20px 0;
}

.tree .record,
.tree .records, {
  font-family: 'Helvetica Neue';
  display: block;
  font-size: 14px;
}

.tree {
  list-style: none;
}

.record {
  height: 24px;
  margin: 20px 0 20px 0;
}

.tree .records {
  margin-left: 15px;
}

.title {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  display: inline-block;
}

.title .clip {
  font-size: 31px;
  line-height: 20px;
  color: #ccc;
}

.title.open.main {
  position: relative;
}

.title.open .title.editor {
  font-size: 16px;
  font-weight: bold;
  height: 23px;
  margin-top: 20px;
}
.title.open.main,
.title.open.main > .main {
  font-size: 16px;
  font-weight: bold;
  height: 23px;
  margin-top: 20px;
}

.title.open.main .text {
  height: 21px;
}

.nest {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #ccc;
}

.nest .title {
  font-family: 'Helvetica Neue';
  font-weight: 300;
}

button {
  margin-left: 10px;
  margin-right: 10px;
}

.more {
  padding: 15px 0;
  font-size: 12px;
  font-family: 'helvetica Neue';
  transition-duration: 0.3s;
}

ul ul .title {
  font-size: 14px;
  font-family: 'helvetica Neue';
}

.shut {
  display: none;
}

.open {
  display: block;
}

.active {
  color: #FF1007FF;
}

.branch {
  color: #FF00dd;
}

.move {
  color: #445BFF;
}

.back {
  color: #2065FFFF;
  cursor: pointer;
}

.title {
  position: relative;
}

.ctrls {
  position: absolute;
  top: 0;
  right: 0;
}

.select {
  composes: back from '../RecordMap/styles.css';
}

.drag {
  width: 35px;
  color: #ADADAD;
  text-align: right;
  float: right;
}

.dragging {
  opacity: 0.4;
}

.clip {
  width: 50px;
  text-align: center;
  float: right;
  color: #ADADAD;
}

.btns {
  height: 30px;
  line-height: 30px;
}

input.field {
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 14px;
  margin: 20px 0 0 0;
  height: 21px;
  width: 100%;
  transition-duration: 0.3s;
}




.standard {
  font-size: 14px;
  margin: 20px 0 0 0;
  height: 21px;
  composes: field from '../../components/Input/styles.css';
}

.text {
  height: 21px;
}

.editor {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  height: 23px;
  composes: field;
}
