.list {
  font-family: 'Helvetica Neue', serif;
  padding-left: 1.75em;
}

.li {
  list-style: none;
  margin: 1em 0;
}

.title {
  font-family: 'helvetica Neue';
  font-weight: bold;
}

.more {
  padding: 15px 0;
}

.shut {
  display: none;
}

.open {
  display: block;
}

ul ul {
  margin-left: 40px;
}

.active {
  color: #FF1007FF;
}

.branch {
  color: #FF00dd;
}