.body {
  padding: 15px;
  width: 100vw;
}

.input {
  width: 100%;
  height: 30px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 300;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.label {
  composes: label-title from 'styles';
}

.bar {
  display: relative;
  height: 45px;
  background-color: #039BE5;
  width: 100%
}

.bar-btn {
  font-size: 15px;
  color: #fff;
}

.left {
  position: absolute;
  left: 0;
  top: 0;
  padding: 14px 20px;
  text-align: center;
  z-index: 2;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 20px;
  text-align: center;
  z-index: 2;
}

.delete {
  composes: bar-btn;
}

.delete:after {
  content: "Delete";
}

.back {
  composes: bar-btn;
}

.title {
  text-align: center;
  margin: 0;
  font-weight: 300;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  background-color: #039BE5;
}

.title:after {
  content: "Record";
}

.items {
  padding-top: 15px;
}

.child {
  display: block;
  width: 100%;
  height: 35px;
}

.to {
  color: #000;
  width: 100%;
  height: 100%;
}