.select {
  composes: back from '../../containers/Record/styles.css';
}

.ctrls {
  composes: ctrls from '../../containers/Record/styles.css';
}

.clip {
  composes: clip from '../../containers/Record/styles.css';
}

.btns {
  composes: btns from '../../containers/Record/styles.css';
}

.ctrls,
.clip {
  transition-duration: 0.3s;
  opacity: 1;
}

.ctrls.hide,
.clip.hide {
  opacity: 0.2;
  transition-duration: 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
