.li {
  list-style: none;
  margin: 1em 0;
}

.title {
  font-family: 'helvetica Neue';
  font-weight: bold;
}

.more {
  padding: 15px 0;
}

.shut {
  display: none;
}

.open {
  display: block;
}

.back {
  color: #2065FFFF;
  cursor: pointer;
}

.list {
  font-family: Georgia, Times, 'Times New Roman', serif;
  padding-left: 1.75em;
}

.listItem {
  margin: 1em 0;
}

.listItemTitle {
  font-weight: bold;
}

.header {
  text-align: center;
  font-weight: 300;
  font-size: 50px;
}

.rootRecord {
  border-bottom: 1px solid #ccc;
}

.rootRecord:first-child {
  border-top: 1px solid #ccc;
}
