.root {
  display: block;
  width: 100%;
}

.curtain {
  transition-delay: 0.2s;
  transition: linear 0.3s ease-in-out;
}

.open .curtain {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  opacity: 0.2;
  background: -moz-linear-gradient(45deg, #06abfc 0%, #06e9fc 100%);
  background: -webkit-linear-gradient(45deg, #06abfc 0%, #06e9fc 100%);
  background: linear-gradient(45deg, #06abfc 0%, #06e9fc 100%);
}