.header {
  position: fixed;
  background-color: #06abfc;
  color: #fff;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  font-family: 'HelveticaNeue', 'Helvetica', sans-serif;
}

.title {
  padding: 10px;
  color: #fff;
  text-align: center;
  font-style: italic;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1.5px;
}

.title:after {
  content: "Accessor";
}

.shrink {
  font-size: 16px;
  line-height: 50px;
  transition: 0.3s;
  animation-duration: 0.5s;
}

.logout {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 20px;
  font-size: 26px;
  text-align: center;
}

.logout:after {
  content: "☉";
}