.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.ul {
  display: flex;
  width: 100%;
}

.li {
  display: inline-block;
  padding: 12.5px 0;
  font-size: 24px;
  line-height: 24px;
  width: 20%;
  text-align: center;
  background-color: #039BE5;
  color: #fff;
}

.lg {
  composes: li;
  font-size: 30px;
}