.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.main {
  composes: menu;
}

.view {
  composes: menu;
}

.main .li {
  background-color: #039BE5;
}

.view .li {
  background-color: #0288D1;
}

.ul {
  display: flex;
  width: 100%;
}

.li {
  display: inline-block;
  padding: 12.5px 0;
  font-size: 24px;
  line-height: 24px;
  width: 33.3333333333%;
  text-align: center;
  color: #fff;
  transition: 0.2s;
}

.lg {
  composes: li;
  font-size: 30px;
}

.lg:after {
  content: "＋";
}

.link {
  color: #fff;
}